.containercard
{
display: flex;
justify-content: center;
width: 100%;
}

.principles img{
	display: none;
}
.containercardgray
{
display: flex;
justify-content: center;
width: 100%;
background-color: #414141;
}


.card 
{
    padding-right: 30px;
}

.containercard .card .icon img  {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
    background-color: #2c73df;
}

.containercard .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.containercard .card .slide {

    width: 280px;

    height: 250px;

    transition: 0.5s;

}

.containercard .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(120px);

}

.containercard .card:hover .slide.slide1{

    transform: translateY(0px);

}

.containercard .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);
    

    box-shadow: 0 5px 5px rgb(26, 35, 126,0.4);

}

.containercard .card:hover .slide.slide2{

    transform: translateY(0);

}

.containercard .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 2.5px;

    bottom: 7px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #223666;

}

.containercard .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    margin-bottom: 20px;

    color: #414141;

}

.containercard .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    margin-top: -50px;

    padding: 0;

    font-size: 1.6em;

    font-weight: 800;

    text-align: center;

    color: #223666;

}



/* .headnav {
    margin-top: -10px;
    margin-bottom: -100px;
}
.navbar-brand img {
    margin-bottom: -10px;
} */



.containercardgray .card .icon img  {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
    background-color: #2c73df;
}

.containercardgray .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.containercardgray .card .slide {

    width: 280px;

    height: 150px;

    transition: 0.5s;

}

.containercardgray .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(25px);

}

.containercardgray .card:hover .slide.slide1{

    transform: translateY(0px);

}

.containercardgray .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);
    

    box-shadow: 0 5px 5px rgb(26, 35, 126,0.4);

}

.containercardgray .card:hover .slide.slide2{

    transform: translateY(0);

}

.containercardgray .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 2.5px;

    bottom: 7px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #223666;

}

.containercardgray .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    margin-bottom: 20px;

    color: #414141;

}

.containercardgray .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 1.6em;

    font-weight: 800;

    text-align: center;

    color: #223666;

}

.productdetails {
    width: 100%;
    height: 70vh;
    margin-right: auto;
    margin-left: auto;
    background:url(https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg) no-repeat;
    background-size: cover;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.productinline {
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}
.categories h3 {
    padding-top: 20vh;
    font-size: medium;
    color: #EEEEEE;
    margin-bottom: 20px;
}

.productdata h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.productdata p {
    color: white;
    width: 60%;
    margin-bottom: 20px;
}
.productdata button {
    width: 10%;
    height: 5vh;
    color: white;
    background-color: #223666;
    font-weight: 500;
    border-color: none;
    border-style: none;
    
    
}
.productdata button:hover {
    width: 10%;
    height: 5vh;
    color: #223666;
    background-color: white;
    font-weight: 500;
    border-radius: 30px;
    border-style: none;
   transition-delay: 0.4sec;
   transition: ease-in;
}

.principles h1{
    margin-bottom:-10px;
}


.menudisplay {
    width: 100%;
   
    height: 8vh;
    background-color: #223666;
}

.menumain {
    width: 80%;
    height: 100%;
    margin-right: auto;
    display: flex;
    justify-content: left space-evenly;
    align-items: center;
    margin-right: auto;
    margin-left: 30px;
}


.menumain a{
    color: #E0E0E0;
}

.menumain a:hover{
    color: white;
}

.centerform {
    width: 50%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #424242;
    border-radius: 20px;
}
.formdiv {
    width: 100%;
    height: 60vh;
}

.centerform h1{
    color: white;
    text-align: center;
    padding-top: 60px;
    font-weight: 700;
}

.centerform p{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.buttonform {
    margin-top: 30px;
    background-color: #EEEEEE ;
    height: 7vh;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.buttonform .fa{
    margin-top: 2.2px;
    margin-left: 5px;
    color: #424242;
}

.buttonform h1{
    position: absolute;
    color: #424242;
    margin-top: -94px;
    margin-left: 70px;
    font-size: 1.6em;
}

.buttonform:hover .fa{
    float: right;
    transition-duration: 0.9sec;
    margin-right: 10px;
    
}

.centerform .pd{
    margin-top: 20px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width : 768px) {

    
.buttonform {
    margin-top: 30px;
    background-color: #EEEEEE ;
    height: 6vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.buttonform .fa{
    margin-top: 2.2px;
    margin-left: 5px;
    color: #424242;
}

.buttonform h1{
    position: absolute;
    color: #424242;
    margin-top: -93px;
    margin-left: 48px;
    font-size: 1.4em;
}

.buttonform:hover .fa{
    float: right;
    transition-duration: 0.9sec;
    margin-right: 10px;
    
}

.buttonform:hover h1{
    display: none;
}

.centerform > h1{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-weight: 700;
    font-size: 18px;
}

.centerform p{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

    .formdiv {
    width: 100%;
    height: 60vh;
}

    /* .principles img {
        margin-top: -70px;
        display: inline;
        height:3px;
    } */
    .principles {
        justify-content: center;
        align-items: center;
    }

    .productdata button {
        width: 30%;
        height: 5vh;
        color: white;
        background-color: #223666;
        font-weight: 500;
        border-color: none;
        border-style: none;
        font-size: 12px;
        
    }
    .productdata button:hover {
        width: 30%;
        height: 5vh;
        color: #223666;
        background-color: white;
        font-weight: 500;
        border-radius: 30px;
        border-style: none;
       transition-delay: 0.4sec;
       transition: ease-in;
    }

    .categories h3 {
        padding-top: 10vh;
        font-size: medium;
        color: #EEEEEE;
        margin-bottom: 20px;
    }
    .productdetails {
        width: 100%;
        height: 60vh;
        margin-right: auto;
        margin-left: auto;
        background:url(https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg) no-repeat;
        background-size: cover;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    
    
}






.collapsiblelist {
    
    color: black;
    font-weight: 800;
    cursor: pointer;

    width: 50%;
    height: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    background-color: transparent;
  }
  
  .active, .collapsiblelist:hover {
    background-color: transparent;
  }
  
  .contentproduct {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: transparent;
  }