

/*
Author: Bootstrapthemes
Author URI: http://www.xpeedstudio.com
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }
    
    
}



/* Portrait tablets and small desktops */
/*@media (max-width: 992px) {

}*/


/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    .sm-text-center{
        text-align: center !important;
    }
    .sm-pull-none{
        float: none !important;
    }
    .sm-m-top-10{
        margin-top:10px;
    }
    .sm-m-top-20{
        margin-top:20px;
    }
    .sm-m-top-30{
        margin-top:30px;
    }
    .sm-m-top-40{
        margin-top:40px;
    }
    .sm-m-top-50{
        margin-top:50px;
    }
    .item_img i{
        right:0%;
    }

    .div1 {
        float: left;
        width: 50%;
        padding: 10px;
        height: 100%; /* Should be removed. Only for demonstration */
      }
    
      .div2 {
        float: right;
        width: 50%;
        
        height: 100%; /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .div1row:after {
        content: "";
        display: table;
        clear: both;
      }


}



/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    h2{
        font-size:2rem;
    }
    p{
        font-size:70%;
        line-height: 1rem;
    }
    .xs-pull-none{
        float: none !important;
    }
    .xs-text-center{
        text-align: center !important;
    }
    .xs-m-top-10{
        margin-top:10px;
    }
    .xs-m-top-30{
        margin-top:30px;
    }
    .xs-m-bottom-10{
        margin-bottom:10px;
    }
    .xs-m-bottom-20{
        margin-bottom:20px;
    }


    .main_home .home_text h2{
        font-size:24px;
    }
    .main_home .home_text h1{
        font-size:32px;
    }
    .main_home .home_text h3{
        font-size:18px;
    }
    .main_product .carousel-control{
        display: none;
    }

    .logo {
        margin-top: -7px;
        align-content: center;
    }

    .div1 {
        float: left;
        width: 50%;
        padding: 10px;
        height: 100%; /* Should be removed. Only for demonstration */
      }
    
      .div2 {
        float: right;
        width: 50%;
        
        height: 100%; /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .div1row:after {
        content: "";
        display: table;
        clear: both;
      }


      
/* --------------------------------- */
/* 2nd div clinical diagnosis */
/* -------------------------------------- */

.content-1 {
    flex-basis: 50%;
    text-align: justify;
  }

  .content-1 h2 {
    font-size:  22px;
    margin-bottom: 10px;
    position: relative;
    color: #8d8b8b;
    font-weight: 900;
    text-transform: uppercase;
    top: 330px;
    
    /* Rotate from top left corner (not default) */
    transform-origin: 0 0;
   transform: rotate(270deg);
  }

/*   .content-1 h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 200px;
    height: 3px;
    background-color: #1E9FBF;
     transform-origin: 0 0;
transform: rotate(90deg);

  }*/

  .content-1 ul {
    font-size: 0.8rem;
    margin-bottom: 100px;
    margin-left: 80px;
    line-height: 1.5;
    color: black;
  }

  .content-1 button {
    margin-left: 70px;
    bottom: 35px;
height: 60px;
width: 14rem;
position: relative;
color: #1A237E;
border-radius: 12px;
border-color: #1A237E;
background-color: transparent;
font-size: 1.2rem;
  }

  .content-1 button:hover {
    border-color:#1A237E ;
    color: #1A237E;
    margin-left: 77px;
  }

  .container-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    margin: 0 auto;
    padding: 20px 20px;
  }

  .image {
    flex-basis: 100%;
    
  }

  .image img {
    width: 100%;
    height: auto;
    padding-left: 10px;
   
  }

  .container-1 h1{
    margin-left: 4.8rem;
    font-size: 2rem;
    font-weight: 800;
    color: #1A237E;
  }

}




/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 85%;
    }
    .main_home .home_text h1{
        font-size:28px;
    }
    .main_home .home_text h3{
        font-size:17px;
    }


}





@media (max-width: 400px) {


}

@media (max-width: 320px) {
    html {
        font-size: 60.5%;
    }




}





